Source: wasta-multidesktop
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-multidesktop

Package: wasta-multidesktop
Architecture: all
Depends: arc-theme,
 at,
 gdm3 | lightdm,
 jq,
 papirus-icon-theme,
 rename,
 systemd,
 wasta-app-tweaks,
 wasta-backgrounds,
 wasta-core,
 wasta-resources,
 wmctrl,
 xmlstarlet,
 ${misc:Depends}
Recommends: arc-solid-theme,
 papirus-folders,
 wasta-papirus,
 wasta-vertex-ubuntu
Description: Wasta-Linux MultiDesktop
 Ensures cross-desktop compatibility between different DEs (desktop
 environments).
 .
 A systemd triggered script runs on login to make necessary adjustments based
 on detected DE (from gdm or lightdm display manager logs) in comparison to
 previously detected DE.
 .
 Currently only gdm and lightdm DMs are supported.
 Currently only GNOME, Cinnamon, and XFCE DEs are supported.
